.WorksWrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 769px) and (min-width: 427px) {
        height: 80vh;
    }
    
    @media screen and (max-width: 427px) {
        height: 100%;
    }

    .WorksTitle {
        margin-top: 2rem;
        font-size: 2rem;
        color: teal;
        font-weight: 600;

        @media screen and (max-width: 769px) and (min-width: 427px) {
            font-size: 1.3rem;
        }
        
        @media screen and (max-width: 426px) {
            margin-top: 0.5rem;
            font-size: 1.2rem;
        }

    }

    .PhotoContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        height: 100%;
        width: 100%;

        @media screen and (max-width: 426px) {
            flex-direction: column;
        }

        .PhotoItem {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @media screen and (max-width: 426px) {
                margin-top: 5%;
            }

            .WorkImage {
                object-fit: cover;
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

                @media screen and (max-width: 769px) {
                    height: 200px;
                    width: 200px;
                }
            }

            &:hover .WorkImage {
                transform: scale(1.05);
                transition: transform 0.3s ease;
            }
        }
    }
    span {
        margin-bottom: 2rem;
    }
}