.ProcessWrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-image: url("/limpieza_uni.png");
    background-position: initial;
    background-size: cover;

    .WorksTitleMobile {
        display: none;

        @media screen and (max-width: 427px) {
            margin-bottom: 1rem;
            display: flex;
            padding: 0.5rem;
            font-size: 1.8rem;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 10px 0 10px 0;
        }
    }

    @media screen and (max-width: 769px) and (min-width: 427px) {
        height: 80vh;
    }

    @media screen and (max-width: 427px) {
        height: 14rem;
        background-color: rgba(255, 255, 255, 0.3);
        margin-top: 0.5rem;
        font-size: 1.2rem;
    }

    .WorksTitle {
        padding: 4rem;
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 2rem;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

        @media screen and (max-width: 769px) and (min-width: 427px) {
            font-size: 1.3rem;
        }

        @media screen and (max-width: 426px) {
            display: none;
        }

        .WorksDescription {
            font-size: 1.5rem;

            @media screen and (max-width: 769px) and (min-width: 300px) {
                display: none;
            }
        }
    }
}