.NavbarWrapper {
    width: 100%;
    height: 15vh;
    display: flex;

    .leftWrapper {
        flex: 1;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        .left {
            display: flex;
            align-items: center;
            justify-content: center;

            .logoImage {
                border-radius: 100%;
            }

            p {
                font-weight: bold;
                font-size: 18px;
                text-align: center;
                font-size: 15px;
                width: 300px;

                span {
                    font-size: 20px;
                }
            }
        }
    }

    .rightWrapper {
        display: flex;
        flex: 2;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
        .right {
            h1 {
                font-size: 20px;
            }
        }
    }
}