.HeroWrapper {
    width: 100%;
    height: calc(85vh + 15vh);
    display: flex;

    @media screen and (max-width: 770px) {
        flex-direction: column;
        flex-wrap: wrap;
        background-image: url("/wal_limpieza.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .TextContainer {
        height: 100%;
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        @media screen and (max-width: 770px) {
            height: 100%;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.3);
            align-items: center;
            justify-content: space-around;
        }

        .Title {
            font-size: 45px;
            width: 30vw;
            margin-bottom: 3%;
            color: teal;

            @media screen and (max-width: 770px) {
                font-size: 25px;
                width: 100%;
                text-align: center;
                color: rgb(2, 83, 83);
            }
        }

        .Desc {
            font-size: 20px;
            width: 30vw;

            @media screen and (max-width: 770px) {
                text-align: center;
                padding: 10px;
                width: 100%;
                font-size: 18px;
                background-color: rgba(255, 255, 255, 0.8);
            }
        }

        .buttonsMobileContainer {
            display: none;

            .buttonsMobile {
                background-color: teal;
                color: white;
                border: 3px solid teal;
            }

            .buttonInvertMobile {
                background-color: white;
                color: teal;
                border: 3px solid teal;
            }

            .buttonInvertMobile,
            .buttonsMobile {
                @media screen and (max-width: 770px) {
                    border: none;
                    width: 12rem;
                    height: 5rem;
                    border-radius: 10px;
                    margin: 10px;
                    cursor: pointer;
                    font-weight: bold;
                    font-size: 15px;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
            }

            @media screen and (max-width: 770px) {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
            }
        }
    }

    .rightContainer {
        background-image: url("/wal_limpieza.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 65%;
        display: flex;
        justify-content: center;
        justify-content: space-around;
        align-items: center;

        .buttons,
        .buttonInvert {
            border: none;
            width: 12rem;
            height: 5rem;
            border-radius: 10px;
            margin-top: 25rem;
            cursor: pointer;
            font-weight: bold;
            font-size: 15px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

            &:hover {
                filter: brightness(0.7);
                transform: scale(1.05);
                transition: all 0.3s ease-in-out;
            }
        }

        .buttons {
            background-color: teal;
            color: white;
        }

        .buttonInvert {
            background-color: white;
            color: teal;
            border: 3px solid teal;

        }

        @media screen and (max-width: 770px) {
            display: none;
        }
    }

}