.HeroWrapper {
    width: 100%;
    height: calc(85vh + 15vh);
    display: flex;

    
    .TextContainer {
        height: 100%;
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* eliminar esto */
        @media screen and (max-width: 427px) {
            display: none;
        }

        @media screen and (max-width: 770px) {
            margin-right: 0;
        }

        .Title {
            font-size: 45px;
            width: 30vw;
            margin-bottom: 3%;
            color: teal;

            @media screen and (max-width: 770px) {
                font-size: 30px;
                width: 100%;
                margin-bottom: 40vh;
                text-align: center;
            }
        }

        .Desc {
            font-size: 20px;
            width: 30vw;

            @media screen and (max-width: 770px) {
                text-align: center;
                padding: 10px;
                background-color: rgba(255, 255, 255, 0.737);
                width: 100%;
                font-size: 18px;
            }
        }
    }

    .rightContainer {
        background-image: url("/wal_limpieza.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 65%;
        display: flex;
        justify-content: center;
        justify-content: space-around;
        align-items: center;

        .buttons,
        .buttonInvert {
            border: none;
            width: 12rem;
            height: 5rem;
            border-radius: 10px;
            margin-top: 25rem;
            cursor: pointer;
            font-weight: bold;
            font-size: 15px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

            &:hover {
                filter: brightness(0.7);
                transform: scale(1.05);
                transition: all 0.3s ease-in-out;
            }
        }

        .buttons {
            background-color: teal;
            color: white;
        }

        .buttonInvert {
            background-color: white;
            color: teal;
            border: 3px solid teal;

        }
    }

    @media screen and (max-width: 770px) {
        display: flex;
        flex-direction: column;
    }
}